name: CI/CD
on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "1.25.4"
      - run: go mod download
      - run: cd internal/tests/tests && go test -v ./...

  docker:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Clear Docker cache
        run: docker builder prune -f
      - name: Build Docker image
        run: docker build --no-cache -t auth-service:test .